.article-content {
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    color: white;
    text-transform: none !important;
}
.blogpost {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}

.headimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.visual-divider {
    background-color: white;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
