/* Navigation */
#navigation {
    text-decoration: none;
    text-align: center;
}

#navigation li {
    display: inline;
    padding-left: 5em;
}

/* Beans gallery */
#beans {
    text-align: center;
}

#beans li {
    display: inline;
}

/* Beans gallery */
#machines {
    text-align: center;
}

#machines li {
    display: inline;
}

/* Link styles here */
a {
    text-decoration: none;
}

a:link {
    color: #993399;
}

a:visited{
    color: #937973;
}

.viewall {
    text-align: right;
}


/* Footer */
#footer {
    text-align: center;
    padding-bottom: 20em;
}

.info li{
    color: green;
    display: inline;
    text-align: center;
    padding-left: 5em;
}